<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Hotel Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/hoteluri}">Hoteluri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tipuri-camere}">Tipuri Camere</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/oaspeti}">Oaspeti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/rezervari}">Rezervari</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/servicii}">Servicii</a>
                </li>
                <li sec:authorize="hasAnyRole('ADMIN','RECEPTIONER')" class="nav-item">
                    <a class="nav-link" th:href="@{/angajati}">Angajati</a>
                </li>
                <li sec:authorize="hasAnyRole('ADMIN','RECEPTIONER')" class="nav-item">
                    <a class="nav-link" th:href="@{/facturi}">Facturi</a>
                </li>
                <li sec:authorize="hasRole('ADMIN')" class="nav-item">
                    <a class="nav-link" th:href="@{/inventar-camere}">Inventar Camere</a>
                </li>
            </ul>
            <div class="d-flex align-items-center">
                <span class="text-light me-3" sec:authentication="name">User</span>
                <form th:action="@{/logout}" method="post" class="mb-0">
                    <button type="submit" class="btn btn-outline-light btn-sm">Deconectare</button>
                </form>
            </div>
        </div>
    </div>
</nav>
</body>
</html>
